<p>This is the partial for view 1.</p>

<label>Edit mode
	<input type="checkbox" ng-model="isEditMode">
</label>
<div>isEditMode = {{isEditMode}}</div>
<div><!-- ng-hide if editing a specific layout -->
	lock on layout:
	<select
		ng-options="layout as layout.name for layout in myData.data"
		ng-model="layout"
		ng-change="changeLayoutViaSelect(layout)">
		<!--option value="">- free -</option>-->
	</select>
	<p>{{layout.name}}</p>
</div>

<table>
	<thead>
		<th colspan="{{myLen}}">my table</th>
	</thead>
	<tbody>
		<!-- <tr ng-repeat="row in myData.data.keyboard1"> -->
		<tr ng-repeat="row in currentLayout.layout" ng-model="currentLayout.layout">
			<td
				ng-if="!isEditMode"
				ng-repeat="key in row track by $index"
			>
				{{key}}
			</td>
			<td
				ng-if="isEditMode"
				ng-repeat="key in row track by $index"
			>
				<input
					type="text"
					ng-model="key"
					name="testName"
					ng-change="myChange(key, $parent.$parent.$index, $index)"
					onclick="this.select()"
				>
			</td>
		</tr>
	</tbody>
</table>
